.navbar
  a.external
    color #2c3e00 !important
  a.external:hover
  a.home-link:hover span
    color $accentColor !important

.nav-links
  .nav-item:nth-child(1)
    display inline-block
    font-size 1.05rem
    padding 0.2rem 1.6rem
    transition background-color 0.1s ease
    color #fff
    background-color $accentColor
    border-radius 4px
    box-sizing border-box
    border-bottom 1px solid darken($accentColor, 20%)
    a.router-link-active
      color #fff !important
      text-decoration none !important
  .nav-item:nth-child(1):hover
    background-color lighten($accentColor, 8%)
    cursor pointer
    a
      color #fff !important
      text-decoration none !important


.home
  .hero
    img
      max-height 40rem !important
      margin 0 !important

  #main-title
    margin-top 0.5rem !important
    margin-bottom 0.5rem !important

  .description
    margin-top 0 !important

.home li,
.meta li
  list-style disc
  margin-left 0.4rem

.meta .theme-default-content:not(.custom) > h2
  margin-top 0
  padding-top 0

.home h1,
.home h2,
.meta h2
  margin-top 1.5rem !important
  margin-bottom 1rem !important

.meta ul
  padding 1rem

.appevents
  margin-top 1rem
  display flex
  flex-wrap wrap
  justify-content space-between
  list-style none

  li
    display flex
    flex-direction column
    align-items center
    text-align center
    flex 0 0 6rem
    width 6rem
    margin 0.5rem
    padding 0
    border-radius 14px
    word-break break-word
    font-size 0.65rem
    line-height 1.15

  li::before
    content ''
    display block
    width 5rem
    height 5rem
    flex-shrink 0
    margin-bottom 0.35rem
    background-size contain
    background-repeat no-repeat
    background-position center

  li.rounded::before
    border-radius 15%
    overflow hidden

  li.acrolotl::before
    background-image url("/images/appicon-acrolotl.png")

  li.acronia::before
    background-image url("/images/appicon-acronia.png")

  li.androidmakers::before
    background-image url("/images/appicon-androidmakers.png")

  li.auerworld::before
    background-image url("/images/appicon-auerworld.png")

  li.bitsbaeume::before
    background-image url("/images/appicon-bitsbaeume-2022.png")

  li.ccc::before
    background-image url("/images/appicon-39c3-2025.png")

  li.cccamp::before
    background-image url("/images/appicon-cccamp-2023.png")

  li.cfgmgmntcamp::before
    background-image url("/images/appicon-cfgmgmntcamp.png")

  li.clt::before
    background-image url("/images/appicon-clt-2026.png")

  li.cryptorave::before
    background-image url("/images/appicon-cryptorave-2019.png")

  li.datenspuren::before
    background-image url("/images/appicon-datenspuren-2025.png")

  li.debconf::before
    background-image url("/images/appicon-debconf-2021.png")

  li.divoc::before
    background-image url("/images/appicon-divoc-r2r-2021.png")

  li.droidcon-berlin::before
    background-image url("/images/appicon-droidcon-berlin-2025.png")

  li.easterhegg::before
    background-image url("/images/appicon-easterhegg-2025.png")

  li.emf::before
    background-image url("/images/appicon-emf-2024.png")

  li.fiffkon::before
    background-image url("/images/appicon-fiffkon-2018.png")

  li.fosdem::before
    background-image url("/images/appicon-fosdem-2021.png")

  li.fossgis::before
    background-image url("/images/appicon-fossgis-2026.png")

  li.foss4g::before
    background-image url("/images/appicon-foss4g-2024.png")

  li.foss4ge::before
    background-image url("/images/appicon-foss4g-europe-2025.png")

  li.froscon::before
    background-image url("/images/appicon-froscon-2025.png")

  li.glt::before
    background-image url("/images/appicon-glt-2022.png")

  li.gpn::before
    background-image url("/images/appicon-gpn-2026.png")

  li.hackover::before
    background-image url("/images/appicon-hackover-2026.png")

  li.hackmas-castle::before
    background-image url("/images/appicon-hackmas-castle-2026.png")

  li.hope::before
    background-image url("/images/appicon-hope-2026.png")

  li.inselchaos::before
    background-image url("/images/appicon-inselchaos-2026.png")

  li.jev::before
    background-image url("/images/appicon-jev-2022.png")

  li.kotlinconf::before
    background-image url("/images/appicon-kotlinconf-2025.png")

  li.libreoffice::before
    background-image url("/images/appicon-libreoffice-2022.png")

  li.lswt::before
    background-image url("/images/appicon-lswt-2018.png")

  li.mrmcd::before
    background-image url("/images/appicon-mrmcd-2025.png")

  li.pyconza::before
    background-image url("/images/appicon-pyconza-2021.png")

  li.pgcon::before
    background-image url("/images/appicon-pgcon.png")

  li.privacyweek::before
    background-image url("/images/appicon-privacyweek.png")

  li.protocolberg::before
    background-image url("/images/appicon-protocolberg-2025.png")

  li.rc3-2020::before
    background-image url("/images/appicon-rc3-2020.png")

  li.rc3-2021::before
    background-image url("/images/appicon-rc3-2021.png")

  li.tazlab::before
    background-image url("/images/appicon-taz-lab-2019.png")

  li.toorcamp::before
    background-image url("/images/appicon-toorcamp-2024.png")

  li.winterkongress::before
    background-image url("/images/appicon-winterkongress.png")

.feature h2
  padding-left: 30px
  background-repeat: no-repeat
  background-position: 5px 5px

.feature:nth-child(1) h2
  background-image: url("/images/lnr-magic-wand.svg")

.feature:nth-child(2) h2
  background-image: url("/images/lnr-rocket.svg")

.feature:nth-child(3) h2
  background-image: url("/images/lnr-code.svg")

.headline
  padding-left: 1em
  background-repeat: no-repeat
  background-position: 0px 0.3em
  background-size: 0.7em
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(126deg) brightness(78%) contrast(119%);

.appfeatures-headline
  background-image: url("/images/lnr-highlight.svg")

.appintegrations-headline
  background-image: url("/images/lnr-plus-circle.svg")

.applanguages-headline
  background-image: url("/images/lnr-earth.svg")

.appusers-headline
  background-image: url("/images/lnr-users.svg")

.content-list
  margin-top 1rem

.meta
  h2
    color $accentColor
    margin-bottom 1rem !important

footer
  p
    display block
    text-align center

@media print
  header,
  footer
    display none
  .card
    box-shadow none
    -webkit-box-shadow none
  .home,
  .theme-default-content,
  .theme-default-content:not(.custom),
  .theme-default-content:not(.custom) #features
    padding 0
    margin-top 1rem

blockquote
  color $textColor !important
  border-left 0.2rem solid $accentColor