.navbar
  a.external
    color #2c3e00 !important
  a.external:hover
  a.home-link:hover span
    color $accentColor !important

.nav-links
  .nav-item:nth-child(1)
    display inline-block
    font-size 1.05rem
    padding 0.2rem 1.6rem
    transition background-color 0.1s ease
    color #fff
    background-color $accentColor
    border-radius 4px
    box-sizing border-box
    border-bottom 1px solid darken($accentColor, 20%)
    a.router-link-active
      color #fff !important
      text-decoration none !important
  .nav-item:nth-child(1):hover
    background-color lighten($accentColor, 8%)
    cursor pointer
    a
      color #fff !important
      text-decoration none !important


.home
  .hero
    img
      max-height 40rem !important
      margin 0 !important

  #main-title
    margin-top 0.5rem !important
    margin-bottom 0.5rem !important

  .description
    margin-top 0 !important

.home li,
.meta li
  list-style disc
  margin-left 0.4rem

.meta .theme-default-content:not(.custom) > h2
  margin-top 0
  padding-top 0

.home h1,
.home h2,
.meta h2
  margin-top 1.5rem !important
  margin-bottom 1rem !important

.meta ul
  padding 1rem

.appevents
  margin-top 1rem
  display flex
  flex-flow row wrap
  flex-direction row
  justify-content space-between
  align-content space-between
  list-style none

  li
    height 6rem
    width 6rem
    overflow hidden
    margin 0.5rem
    padding 0.5rem
    border-radius: 14px
  
  li:before
    display inline-block
    font-size 0
    line-height 0

  .acrolotl
    content: url("/images/appicon-acrolotl.png")

  .acronia
    content: url("/images/appicon-acronia.png")

  .androidmakers
    content: url("/images/appicon-androidmakers.png")

  .auerworld
    content: url("/images/appicon-auerworld.png")

  .bitsbaeume
    content: url("/images/appicon-bitsbaeume-2022.png")

  .ccc
    content: url("/images/appicon-38c3-2024.png")

  .cccamp
    content: url("/images/appicon-cccamp-2023.png")

  .clt
    content: url("/images/appicon-clt-2023.png")

  .cryptorave
    content: url("/images/appicon-cryptorave-2019.png")

  .datenspuren
    content: url("/images/appicon-datenspuren-2024.png")

  .debconf
    content: url("/images/appicon-debconf-2021.png")

  .divoc
    content: url("/images/appicon-divoc-r2r-2021.png")

  .droidcon-berlin
    content: url("/images/appicon-droidcon-berlin-2019.png")

  .easterhegg
      content: url("/images/appicon-easterhegg-2024.webp")

  .emf
      content: url("/images/appicon-emf-2024.png")

  .fiffkon
    content: url("/images/appicon-fiffkon-2018.png")

  .fosdem
    content: url("/images/appicon-fosdem-2021.png")

  .fossgis
    content: url("/images/appicon-fossgis-2025.png")

  .foss4g
    content: url("/images/appicon-foss4g-2024.png")

  .foss4ge
    content: url("/images/appicon-foss4g-europe-2024.png")

  .froscon
    content: url("/images/appicon-froscon-2023.png")

  .glt
    content: url("/images/appicon-glt-2022.png")

  .gpn
    content: url("/images/appicon-gpn-2024.png")

  .hackover
    content: url("/images/appicon-hackover-2023.png")

  .hope
    content: url("/images/appicon-hope.png")

  .jev
    content: url("/images/appicon-jev-2022.png")

  .kotlinconf
    content: url("/images/appicon-kotlinconf-2025.png")

  .libreoffice
    content: url("/images/appicon-libreoffice-2022.png")

  .lswt
    content: url("/images/appicon-lswt-2018.png")

  .mrmcd
    content: url("/images/appicon-mrmcd-2024.png")

  .pyconza
    content: url("/images/appicon-pyconza-2021.png")

  .pgcon
    content: url("/images/appicon-pgcon.png")

  .privacyweek
    content: url("/images/appicon-privacyweek.png")

  .rc3-2020
    content: url("/images/appicon-rc3-2020.png")

  .rc3-2021
    content: url("/images/appicon-rc3-2021.png")

  .tazlab
    content: url("/images/appicon-taz-lab-2019.png")

  .toorcamp
    content: url("/images/appicon-toorcamp-2024.png")

.feature h2
  padding-left: 30px
  background-repeat: no-repeat
  background-position: 5px 5px

.feature:nth-child(1) h2
  background-image: url("/images/lnr-magic-wand.svg")

.feature:nth-child(2) h2
  background-image: url("/images/lnr-rocket.svg")

.feature:nth-child(3) h2
  background-image: url("/images/lnr-code.svg")

.headline
  padding-left: 1em
  background-repeat: no-repeat
  background-position: 0px 0.3em
  background-size: 0.7em
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(126deg) brightness(78%) contrast(119%);

.appfeatures-headline
  background-image: url("/images/lnr-highlight.svg")

.appintegrations-headline
  background-image: url("/images/lnr-plus-circle.svg")

.applanguages-headline
  background-image: url("/images/lnr-earth.svg")

.appusers-headline
  background-image: url("/images/lnr-users.svg")

.content-list
  margin-top 1rem

.meta
  h2
    color $accentColor
    margin-bottom 1rem !important

footer
  p
    display block
    text-align center

@media print
  header,
  footer
    display none
  .card
    box-shadow none
    -webkit-box-shadow none
  .home,
  .theme-default-content,
  .theme-default-content:not(.custom),
  .theme-default-content:not(.custom) #features
    padding 0
    margin-top 1rem

blockquote
  color $textColor !important
  border-left 0.2rem solid $accentColor